@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
}

/*
svg {
    width: 50px;
    height: 50px;
}
*/

img {
    max-width: 100%;
}

#bell {
    width: 20px;
}

/*grid styles*/

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: grid;
    padding-left: 1rem;
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
}

header {
    background-color: #7068c9;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 1.5rem;
}

.bell-container {
    margin-left: auto;
    border-right: 1px solid #999696;
    padding-right: 10px;
    height: 70%;
    position: relative;
}

#bell {
    width: 25px;
    height: 25px;
    margin-top: 15px;
}

#green-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #5ce07f;
    position: absolute;
    top: 5px;
    left: 20px;
}

#student-name {
    font-weight: 100;
    margin-left: 5px;
    font-size: 0.9rem;
}

#primary-header .profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.profile-image {
    border-radius: 50%;
}

#main-nav {
    background-color: #443f7a;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-icon {
    width: 30px;
}

.headline {
    font-weight: bold;
}

.main-header {
    height: 100%;
    display: flex;
}

.main-header-search {
    width: 100%;
    border: solid #999696 1px;
    border-right: none;
    background-color: #ededed;
    margin-left: 20px;
}

h3 {
    text-transform: uppercase;
    margin-top: -2px;
}

.traffic-nav {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-right: 20px;
}

.traffic-nav-link {
    list-style: none;
    font-size: 1.1rem;
}

.social-stats {
    padding-right: 1rem;
}

.social-card {
    background-color: #ededed;
    border-radius: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #999696;
}

.social-image {
    background-color: #7068c9;
    fill: white;
    padding: 1em;
    border-radius: 50%;
    display: inline-block;
}

.social-image svg {
    fill: white;
    width: 45px;
    height: auto;
}

.social-text {
    display: inline-block;
    margin-left: 20px;
}

hr {
    border-color: #ededed;
    margin-right: 20px;
    margin-bottom: 20px;
}

.section-divider {
    width: 100%;
    margin-left: -10px;
    margin-top: 20px;
}

.platform-name {
    color: #7068c9;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -30px;
}

.platform-users {
    font-size: 2rem;
    color: #656e6e;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-info {
    text-align: center;
    line-height: 0.2;
    padding: auto 1rem;
    font-size: 1rem;
}

.members-date {
    margin-top: 8px;
}

.activity-info {
    font-size: 1rem;
    text-align: center;
}

.activity-time {
    margin-top: -2px;
}

a {
    text-decoration: none;
    color: #7068c9;
}

span {
    font-weight: bold;
}

.arrow {
    visibility: hidden;
    margin-top: -20px;
}

.widget-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.form-field,
.form-area {
    background-color: #ededed;
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.form-field,
#send {
    height: 60px;
}

.form-area {
    height: 150px;
}

#send,
#save {
    border-radius: 5px;
    background-color: #7068c9;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.settings {
    margin-right: 1rem;
}

#timezone {
    margin-top: 1.5rem;
    color: #999696;
}

#timezone {
    background: url('data:image/svg+xml;utf8,<svg width="30" height="31" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%237068c9" filter="drop-shadow(1px 2px 2px rgb(0 0 0 / 0.4))" /></svg>') no-repeat 96% 50%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.settings-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cancel {
    background-color: #999696;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#save,
#cancel {
    height: 60px;
    width: 47%;
    margin-bottom: 1rem;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }

    main {
        grid-template-columns: 50%;
    }

    #main-nav {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1.5rem;
    }

    .nav-icon {
        width: 30px;
        margin-bottom: 1.5rem;
    }

    .traffic,
    .social-stats,
    .main-header {
        grid-column: 1 / span 2;
    }

    .daily,
    .new-members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}
